body {
    background-color: antiquewhite;
}
fieldset {
    margin: 30px;
    width: 700px;
}

.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}
#botao {
    position: absolute;
    width: 500px;
}